In [1]:
import pandas as pd
import numpy as np
import levenshtein as lev

In [2]:
!wget https://data.stadt-zuerich.ch/dataset/sid_stapo_hundenamen/download/20210103_hundenamen.csv

--2021-07-29 20:29:10--  https://data.stadt-zuerich.ch/dataset/sid_stapo_hundenamen/download/20210103_hundenamen.csv
Resolving data.stadt-zuerich.ch (data.stadt-zuerich.ch)... 194.88.196.121
Connecting to data.stadt-zuerich.ch (data.stadt-zuerich.ch)|194.88.196.121|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 174863 (171K) [text/csv]
Saving to: ‘20210103_hundenamen.csv’

20210103_hundenamen 100%[===================>] 170,76K  --.-KB/s    in 0,1s

2021-07-29 20:29:10 (1,33 MB/s) - ‘20210103_hundenamen.csv’ saved [174863/174863]

In [3]:
dognames = pd.read_csv('20210103_hundenamen.csv')
dognames.head()

                      HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                         Ituma              2011               w
1      "Bo" Bendy of Treegarden              2020               m
2         "Bobby" Lord Sinclair              2009               m
3    "Buddy" Fortheringhay's J.              2011               m
4  "Fly" Showring i fly for you              2015               w

## Getting all dognames with Levenshtein distance 1 to 'Luca'

In [4]:
namelist = []
for name in set(dognames['HUNDENAME']): #using set to avoid repetitions
    if lev.lev('Luca',name) == 1:
        namelist += [name]

In [5]:
print(*namelist,sep=',')

Luce,Lupa,Cuca,Yuca,Luna,Luba,Lucy,Luma,Lula,Lucia,Lua,Lucas

In [6]:
#using the naive recursive algorithm takes much longer
namelist2 = []
for name in set(dognames['HUNDENAME']): #using set to avoid repetitions
    if lev.naive_lev('Luca',name) == 1:
        namelist2 += [name]

In [7]:
namelist2

['Luce',
 'Lupa',
 'Cuca',
 'Yuca',
 'Luna',
 'Luba',
 'Lucy',
 'Luma',
 'Lula',
 'Lucia',
 'Lua',
 'Lucas']